# ESP-IDF default build directory
build
sdkconfig.old
dependencies.lock

# VIM files
*.swp
*.swo
**/.cache

# VS-code
settings.json

# drawio files
*.bkp

# freecad backup files
*.FCStd1
*.FCStd2
*.FCBak
# stl files are usually temporary
*.stl

# kicad 
# backup files
pcb_*/*backups/
*auto_saved_files*
*kicad_sch.lck
*kicad_pcb.lck
*.kicad_prl
fp-info-cache


# other
octave-workspace
del
screenshots


# project specific
cad/parts/import_raw
